*~
*.o
dump978-rb
nbproject
debian/debhelper-build-stamp
debian/dump978-rb.debhelper.log
debian/dump978-rb.postinst.debhelper
debian/dump978-rb.postrm.debhelper
debian/dump978-rb.prerm.debhelper
debian/dump978-rb.substvars

